@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css');

@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --font-sans: Pretendard, sans-serif;

  --color-background: #ffffff;
  --color-foreground: #242930;

  --color-primary: #1976fb;
  --color-primary-foreground: #ffffff;

  --color-secondary: #fafafa;
  --color-secondary-foreground: #1976fb;

  --color-destructive: #f03d3d;
  --color-destructive-foreground: #ffffff;

  --color-muted: #f8fafc;
  --color-muted-foreground: #737b85;

  --color-accent: #ebf5ff;
  --color-accent-foreground: #1976fb;

  --color-popover: #ffffff;
  --color-popover-foreground: #242930;

  --color-card: #ffffff;
  --color-card-foreground: #242930;

  --color-border: #e8ecef;
  --color-input: #e8ecef;
  --color-ring: #1976fb;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}
